In [2]:
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd
import numpy as np

In [3]:
applicant_df = pd.read_csv('CustomerLoan.csv')
applicant_df

    Name  income  score default
0      0   78479    800      NO
1      1   95483    801      NO
2      2  101641    815      NO
3      3  104234    790      NO
4      4  108726    795      NO
5      5  112845    750      NO
6      6  114114    799      NO
7      7  114799    801      NO
8      8  119147    805      NO
9      9  119976    790      NO
10    10   84519    740     Yes
11    11   86504    753     Yes
12    12   89292    750     Yes
13    13   93941    706     Yes
14    14   97262    777     Yes
15    15  102658    680     Yes
16    16  103760    740     Yes
17    17  104451    730     Yes
18    18  107388    789     Yes
19    19  107400    690     Yes
20    20   98487    785     NaN

#### K-Nearest Neighbour

In [9]:
# Normalize data
applicant_df['Normalized Income'] = (applicant_df['income'] - applicant_df['income'].min())/(applicant_df['income'].max() - applicant_df['income'].min())

applicant_df['Normalized Score'] = (applicant_df['score'] - applicant_df['score'].min())/(applicant_df['score'].max() - applicant_df['score'].min())

applicant_df

    Name  income  score default  Normalized Income  Normalized Score
0      0   78479    800      NO           0.000000          0.888889
1      1   95483    801      NO           0.409765          0.896296
2      2  101641    815      NO           0.558161          1.000000
3      3  104234    790      NO           0.620647          0.814815
4      4  108726    795      NO           0.728896          0.851852
5      5  112845    750      NO           0.828156          0.518519
6      6  114114    799      NO           0.858737          0.881481
7      7  114799    801      NO           0.875244          0.896296
8      8  119147    805      NO           0.980023          0.925926
9      9  119976    790      NO           1.000000          0.814815
10    10   84519    740     Yes           0.145553          0.444444
11    11   86504    753     Yes           0.193387          0.540741
12    12   89292    750     Yes           0.260573          0.518519
13    13   93941    706     Yes           0.372605          0.192593
14    14   97262    777     Yes           0.452635          0.718519
15    15  102658    680     Yes           0.582669          0.000000
16    16  103760    740     Yes           0.609225          0.444444
17    17  104451    730     Yes           0.625877          0.370370
18    18  107388    789     Yes           0.696653          0.807407
19    19  107400    690     Yes           0.696942          0.074074
20    20   98487    785     NaN           0.482155          0.777778

In [11]:
predictors = ['Normalized Income', 'Normalized Score']
target = 'default'

data_x = applicant_df[predictors].drop(index=[20])
data_y = applicant_df[target].drop(index=[20])

In [12]:
knn =KNeighborsClassifier(n_neighbors=4)
knn.fit(data_x, data_y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=4, p=2,
           weights='uniform')

In [18]:
new_data = pd.DataFrame({'Normalized Income': applicant_df['Normalized Income'].iloc[20],
                        'Normalized Score': applicant_df['Normalized Score'].iloc[20]}, index=[20])

new_data

    Normalized Income  Normalized Score
20           0.482155          0.777778

In [19]:
knn.predict(new_data)

array(['NO'], dtype=object)

#### Decision Tree

In [2]:
from sklearn.tree import DecisionTreeClassifier

In [20]:
predictors = ['income', 'score']
target = 'default'

data_x = applicant_df[predictors].drop(index=[20])
data_y = applicant_df[target].drop(index=[20])

In [22]:
decision_tree_class = DecisionTreeClassifier()
decision_tree_class.fit(data_x, data_y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [23]:
decision_tree_class.predict(new_data)

array(['Yes'], dtype=object)